.config-page-container {

  .row-item {
    position relative
    box-sizing border-box
    margin-bottom 26rem

    &:last-child {
      margin-bottom 0
    }


    &.token-section {
      .token-input-row {
        display flex
        justify-content space-between

        .el-button {
          margin-left 20rem
        }
      }

      .token-tips-box {
        display flex
        gap 16rem
        align-items center
        justify-content space-between
        margin-top 12rem
        color var(--text-color-4)
        font-size 13rem

        .tip-text {
          flex-shrink 0
        }

        .tip-links {
          display flex
          flex-shrink 0
          gap 16rem
          align-items center
          justify-content flex-end

          .tip-link {
            display inline-flex
            align-items center
            color var(--el-color-primary)
            font-weight bold
            white-space nowrap
            cursor pointer

            .el-icon {
              margin-right 4rem
            }

            &:hover {
              border-bottom 1rem solid var(--el-color-primary)
            }
          }
        }
      }
    }


    &.confirm-btn {
      float right
    }


    .cell-item {
      display flex
      align-items center

      .el-icon {
        margin-right 6rem
        font-size 18rem
      }
    }


    .repo-descriptions-item {
      display flex
      align-items center
      justify-content space-between
    }

    .dir-box {
      .dir-item {
        display flex
        align-items center
        justify-content space-between
        margin-bottom 8rem
      }
    }


    .refresh-icon {
      display flex
      align-items center
      justify-content flex-end
      font-size 20rem
      cursor pointer
    }
  }
}
