.changelog-page-container {
  .changelog-card {
    padding 12rem 16rem
    background var(--background-color-2)
    border-radius 10rem

    .changelog-header {
      display flex
      align-items center
      justify-content space-between
      margin-bottom 10rem

      .version {
        font-weight bold
        font-size 16rem
      }
    }

    .changelog-items {
      margin 0
      padding-left 18rem
      color var(--text-color-4)
      line-height 1.8

      li {
        margin-bottom 4rem

        &:last-child {
          margin-bottom 0
        }
      }
    }
  }
}
