.login-container {
  display flex
  align-items center
  justify-content center

  .box-item {
    display flex
    flex-direction column
    width 100%
    max-width 420rem
    height 100%
    color var(--text-color-4)
    background var(--background-color-2)
    border-radius 12rem

    .tips-box {
      display flex
      flex-direction column
      align-items center
      justify-content center
      padding 10rem
      font-size 13rem

      .tip-item {
        display flex
        align-items center
        margin-bottom 8rem

        .el-icon {
          margin-right 4rem
        }

        &.link {
          color var(--el-color-primary)
          font-weight bold
          cursor pointer

          &:hover {
            border-bottom 1rem solid var(--el-color-primary)
          }
        }
      }
    }
  }
}
